<div id="progress-holder" style="width:100%;height:20px;background:#DCDCDC">
  <% if(perc > 0) %>
    <div id="progress" style="width:<%= perc %>%;height:100%;background:#5cb85c;text-align:center"><%= perc %>%</div>
  <% end %>
</div>
