<div class="row">
  <div>Cidades</div>
  <% @managers.where(type_manager: 0).limit(3).each do |manager| %>
    <%= render 'manager', manager: manager %>
  <% end %>
</div>

<div class="row">
  <div>Estados</div>
  <% @managers.where(type_manager: 1).limit(3).each do |manager| %>
    <%= render 'manager', manager: manager %>
  <% end %>
</div>


<div class="row">
  <div>Pais</div>
  <% @managers.where(type_manager: 2).limit(3).each do |manager| %>
    <%= render 'manager', manager: manager %>
  <% end %>
</div>
