<div class="row">
  <h3>Cidades</h3>
  <% @managers.where(type_manager: 0).limit(3).each do |manager| %>
    <%= render 'manager', manager: manager %>
  <% end %>
</div>

<div class="row">
  <h3>Estados</h3>
  <% @managers.where(type_manager: 1).limit(3).each do |manager| %>
    <%= render 'manager', manager: manager %>
  <% end %>
</div>


<div class="row">
  <h3>Pais</h3>
  <% @managers.where(type_manager: 2).limit(3).each do |manager| %>
    <%= render 'manager', manager: manager %>
  <% end %>
</div>
