<div class="row">
  <%# @managers.where(type_manager: 1).limit(2).each do |manager| %>
    <%#= render 'manager', manager: manager %>
    <%= render 'manager', manager: Manager.where(type_manager: 1).all.sample %>
  <%# end %>
</div>
