<div class="container">
  <div class="row">
    <span class="title-resource"><div class="well well-sm">Pais</div></span>
    <% @managers.each do |manager| %>
      <%= render 'manager', manager: manager %>
    <% end %>
  </div>
</div>
