<h1>Eu Prometo</h1>
<p>Verifique o quanto das promessas de campanha foram cumpridas</p>
  <div class="row">
  <% @managers.each do |manager| %>
    <div class="field form-group col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading"><%= link_to manager.name, manager %> - Election <%= manager.election.year %></div>
        <div class="panel-body">
          Promises: 0
          Finished: 0
          Pending: 0
        </div>
        <div class="panel-footer"><%= link_to 'Show promises', manager_promises_path(manager), class: 'btn btn-info', :title => "Show Promises" %></div>
      </div>
    </div>
  <% end %>
</div>
