<!-- <div><img src="banner-larger.png" /></div> -->
<div class="orange title-resource">Eu prometo a você ...</div>
<div>Verifique como estão as promessas de campanha do seu candidato.</div>
<br />

<%#= render 'charts' %>
<%= render 'panel-manager' %>
