<!-- <div><img src="banner-larger.png" /></div> -->
<div class="jumbotron">
  <div class="container">
    <div class="orange title-resource">Eu prometo a você ...</div>
    <div>Verifique como estão as promessas de campanha do seu candidato.</div>
    <br />
  </div>
</div>

<div class="container">
<%#= render 'charts' %>
<%= render 'panel-manager' %>
</div>
