<!-- <div><img src="banner-larger.png" /></div> -->
<h1 style="color:#de5418">Eu prometo a você ...</h1>
<h2>Verifique como estão as promessas de campanha do seu candidato.</h2>
<hr />

<%#= render 'charts' %>
<%= render 'panel-manager' %>
