<span class="title-resource">Sobre</span>
<hr />
<div>
  <h3>Inspiração e problema</h3>
  <p>Tradicionalmente em tempos de eleição, ouvimos muitas vezes dos candidatos <i>"Eu prometo a você ..."</i> e definem o compromisso de realizar algo que possa ajudar o povo e que provavelmente o eleitor ouvite será beneficiado.</p>
  <p>Depois de passada a votação, não fica complicado do eleito expor o quanto do que foi prometido já foi cumprido, então a proposta desse projeto e proporcionar essa ferramenta a eles.</p>

  <h3>Objetivo</h3>
  <p>Criar uma plataforma que permita registrar as promessas de campanha e marcar as que foram cumpridas gerando um relatório.</p>

  <h3>Recursos</h3>
  <p></p>

  <h3>Apoio</h3>
  <p></p>
</div>