/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-social";
 @import 'font-awesome';

.orange { color: #de5418 }

.bg-green-close { background-color:#98FB98 }
.bg-red-open { background-color:#F08080 }

.cursor-pointer { cursor:pointer }
.cursor-default { cursor:default }

.title-1 { font-size: 16px }
.title-2 { font-size: 20px }
.title-resource { font-size: 36px; font-weight: bold; }

.row-custom-1 { padding: 8px }
.height-26 { height: 26px }

@media screen and (max-width: 480px) {
  .title-1 { font-size: 12px }
  .title-2 { font-size: 18px }
  .title-resource { font-size: 20px }
  .margin-spaces { margin: 8px }
}

.navbar {
  border-radius: 0px;
}

.footer-custom {
  background: #262b30;
  color: white;
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}
.footer-custom.text {
  color: white;
}

hr {
  width: 100%; color: gray; height: 1px; background-color:gray;
}

.favorite {
  margin-top: -10px;
}

.margin-spaces {
  margin: 0px;
}

.jumbotron {
  padding-bottom: 0px;
}
